@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: linear-gradient(45deg, #283c86, #45a247);
}

.wrapper {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

header {
  width: 100%;
  height: 40vh;
  background: linear-gradient(45deg, rgba(13, 27, 80, 0.5), rgba(27, 70, 50, 0.7)), url("../../assets/img/white-feather-on-black-background-4004374.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px 20px 0 0;
}

header h1 {
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  display: inline-block;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
}

header .clock {
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .clock div {
  margin: 0 5px;
}

header .clock div:last-child span {
  background: #45a247;
}

header .clock div span {
  display: block;
  padding: 17px;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0;
  background: #283c86;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

header form {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -85%);
          transform: translate(-50%, -85%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form input,
header form button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: whitesmoke;
}

header form button {
  color: #45a247;
  background-color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
}

header form button:hover {
  background-color: #283c86;
  color: #45a247;
}

#todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-height: 50vh;
  background: #c7c7c7;
  overflow-y: auto;
  border-radius: 0 0 0 30px;
  padding: 5px 5px 10px 5px;
  /* .fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
  } */
}

#todo-container #todo-list {
  min-width: 50%;
  list-style: none;
}

#todo-container .todo {
  margin: 0.5rem;
  color: #333333;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
}

#todo-container .todo li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
}

#todo-container .complete-btn,
#todo-container .trash-btn {
  background-color: #283c86;
  color: white;
  border: none;
  outline: none;
  padding: 0.6em;
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

#todo-container .complete-btn:hover {
  color: #45a247;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#todo-container .trash-btn:hover {
  color: #bb3219;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#todo-container .fa-trash,
#todo-container .fa-check {
  pointer-events: none;
}

#todo-container .completed {
  text-decoration: line-through;
  opacity: 0.5;
}
/*# sourceMappingURL=main.css.map */